html,
body {
	height: 100%;
}

body {
	font-family: monospace;
	margin: 10px;
	font-size: 14px;
	line-height: 20px;
	perspective-origin: 50% 50%;
	perspective: 800;
}

.debug,
.plane {
	display: none;
}

.debug {
	height: 100%;
	width: 100%;
	text-align: center;
}

.plane {
	background: linear-gradient(45deg, #DECAFF, #C0FFEE 100%);
	transform: translate(-50%, -50%);
	width: 50%;
	padding-bottom: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
}

.visible {
	display: block;
}
